<div class="jumbotron" backgroud-color="blue">
    <h1>Proyecto Web II CRM</h1>
    <p class="lead">Mantenimientos de Cuentas, Reuniones, Contactos y Support Tickets</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Cuentas</h2>
        <p>Con el término cuentas nos referimos a las empresas clientes.Además, todos los usuarios van a tener la capacidad de Administrarlas</p>
    </div>
    <div class="col-md-4">
        <h2>Contactos</h2>
        <p>Los contactos son las personas asociadas a una Cuenta. Todos los usuarios podrán crear contactos a una cuenta</p>
    </div>
    <div class="col-md-4">
        <h2>Reuniones</h2>
        <p>Los usuarios autenticados en el sistema pueden administrar reuniones</p>
    </div>
</div>
<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <h2>Support Tickets</h2>
        <p>Son solicitudes de soporte departe del cliente a un usuario administrador</p>
    </div>
</div>